@using BIIC_Contest.Dtos
@{
    ViewBag.Title = "Thông tin website";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    SystemDto system = ViewBag.systemInfo;
}

@section styles{
    <link href="~/vendors/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/vendors/choices/choices.min.css" rel="stylesheet">
    <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
}

<div class="pb-5">
    <div class="row g-3 flex-between-end mb-3">
        <div class="col-auto">
            <h3 class="mb-2">Cài đặt thông tin website</h3>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-12 col-xl-8">
            <h4 class="mb-3">Tên viết tắt</h4>
            <input class="form-control mb-5" type="text" id="short-title" maxlength="50" value="@system.ShortTitle" placeholder="Tên viết tắt..." />

            <h4 class="mb-3">Logo tổ chức</h4>
            <div class="dropzone dropzone-multiple p-0 mb-5">
                <div class="fallback">
                    <input name="file" type="file" hidden id="logo-upload" onchange="reviewImage()" />
                </div>
                <div id="logo-preview"  class="dz-preview d-flex flex-wrap @(system.LogoUrl == "" ? "d-none" : "")">
                    <div class="border border-translucent bg-body-emphasis rounded-3 d-flex flex-center position-relative me-2 mb-2" style="height:80px;width:80px;">
                        <img class="dz-image" src="~/assets/img/system/@system.LogoUrl" alt="..." />
                        <a onclick="removeLogo()" style="z-index: 999" class="dz-remove text-body-quaternary">
                            <span data-feather="x"></span>
                        </a>
                    </div>
                </div>
                <label for="logo-upload" class="dz-message text-body-tertiary text-opacity-85 w-100">
                    Tải lên Logo khác tại đây
                    <br />
                    <img class="mt-3 me-2" src="~/assets/img/icons/image-icon.png" width="40" alt="" />
                </label>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row g-2">
                <div class="col-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Thông tin liên hệ</h4>
                            <div class="row gx-3">
                                <div class="col-12 col-sm-6 col-xl-12">
                                    <div class="mb-4">
                                        <h5 class="mb-2 text-body-highlight">Số điện thoại</h5>
                                        <input class="form-control mb-xl-3" id="phone" maxlength="10" type="text" value="@system.Phone" placeholder="Số điện thoại" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-xl-12">
                                    <div class="mb-4">
                                        <h5 class="mb-2 text-body-highlight">Email</h5>
                                        <input class="form-control mb-xl-3" id="email" type="email" value="@system.Email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-xl-12">
                                    <div class="mb-4">
                                        <h5 class="mb-2 text-body-highlight">Địa chỉ</h5>
                                        <textarea class="form-control mb-xl-3" id="address" rows="3" placeholder="Địa chỉ">@system.Address</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Cài đặt khác</h4>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6 col-xl-12">
                                    <div class="mb-4">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" id="allow-show-notification" type="checkbox" @(system.IsShowNotification ? "checked=\"checked\"" : "") name="allow-show-notification" />
                                            <label class="form-check-label fs-8" for="allow-show-notification">Hiện thị thông báo đẩy</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" id="allow-access" type="checkbox" @(system.IsAllow ? "checked=\"checked\"" : "") name="allow-access" />
                                            <label class="form-check-label fs-8" for="allow-access">Cho phép truy cập trang web</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-xl-12 pt-3">
                        <button class="btn btn-primary mb-2 mb-sm-0 w-auto ms-auto" type="button" onclick="update(this)">
                            <span data-feather="refresh-ccw" class="me-2"></span>
                            Cập nhật
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/vendors/tinymce/tinymce.min.js"></script>
    <script src="~/vendors/dropzone/dropzone-min.js"></script>
    <script src="~/vendors/choices/choices.min.js"></script>
    <script src="~/vendors/flatpickr/flatpickr.min.js"></script>
    <script>
        async function update(btn) {
            btn.disabled = true;
            const uploadResponse = await uploadLogo();

            const shortTitleEl = document.getElementById('short-title')
            const phoneEl = document.getElementById('phone')
            const emailEl = document.getElementById('email')
            const addressEl = document.getElementById('address')
            const allowNotificationEl = document.getElementById('allow-show-notification')
            const allowAccessEl = document.getElementById('allow-access')

            const shortTitle = shortTitleEl.value.trim();
            const logoUrl = uploadResponse.Data;
            const phone = phoneEl.value.trim();
            const email = emailEl.value.trim();
            const address = addressEl.value.trim();
            const allowNotification = allowNotificationEl.checked;
            const allowAccess = allowAccessEl.checked;


            const url = '/apis/v1/system/update'
            const postData = {
                'shortTitle': shortTitle,
                'logoUrl': logoUrl,
                'phone': phone,
                'email': email,
                'address': address,
                'allowNotification': allowNotification,
                'allowAccess': allowAccess
            }

            const response = await postApi(url, postData)

            if (response.Success) {
                showSuccessContactNotification(response.Message);
            } else {
                showErrorNotification(response.Message)
            }
            btn.disabled = false;
        }


        async function uploadLogo() {
            const logoEl = document.getElementById('logo-upload')
            const logo = logoEl.files[0];

            var formData = new FormData();
            formData.append('file', logo);

            const response = await postFileApi('apis/v1/upload/upload-logo', formData);

            return response
        }

        function reviewImage() {
            const input = document.getElementById('logo-upload');
            const file = input.files[0];
            if (!file) return;

            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.querySelector('.dz-image');
                img.src = e.target.result;
            };
            reader.readAsDataURL(file);

            const boxPreview = document.getElementById('logo-preview');
            boxPreview.classList.remove('d-none');
        }

        function removeLogo() {
            Swal.fire({
                title: "Xác nhận xóa Logo?",
                showCancelButton: true,
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Đóng",
                denyButtonText: `Thoát`
            }).then(async (result) => {
                if (result.isConfirmed) {
                    const url = '/apis/v1/system/delete-logo'
                    const response = await postApi(url, {})

                    if (response.Success) {
                        Swal.fire({
                            icon: "success",
                            title: "Thành công!",
                            text: `${response.Message}`,
                            allowOutsideClick: false,
                            showConfirmButton: true,
                            confirmButtonText: 'Đóng',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                document.getElementById('logo-preview').classList.add('d-none');
                            }
                        });
                    } else {
                        showErrorNotification(response.Message)
                    }
                } 
            });
        }
    </script>
}

