@using BIIC_Contest.Dtos
@using BIIC_Contest.Constants
@{
    ViewBag.Title = "UserManagement";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


    List<UserDto> users = ViewBag.users;
}

<div class="pb-5">
    <h3 class="text-bold text-body-emphasis mb-5">Quản lý người dùng</h3>
    <div id="members" data-list='{"valueNames":["customer","email","mobile_number","city","last_active","joined"],"page":10,"pagination":true}'>
        <div class="row align-items-center justify-content-between g-3 mb-4">
            <div class="col col-auto">
                <div class="search-box">
                    <form class="position-relative">
                        <input class="form-control search-input search" type="search" placeholder="Tìm kiếm người dùng" aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex align-items-end">
                    <button class="btn btn-link text-body me-4 px-0">
                        <span class="fa-solid fa-file-export fs-9 me-2"></span>
                        Xuất dữ liệu
                    </button>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDealModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                        <span class="fas fa-plus me-2"></span>
                        Thêm người dùng
                    </button>
                </div>
            </div>
        </div>
        <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-body-emphasis border-y mt-2 position-relative top-1">
            <div class="table-responsive scrollbar ms-n1 ps-1">
                <table class="table table-sm fs-9 mb-0">
                    <thead>
                        <tr>
                            <th class="white-space-nowrap fs-9 align-middle ps-0">
                                <div class="form-check mb-0 fs-8">
                                    <input class="form-check-input" id="checkbox-bulk-members-select" type="checkbox" data-bulk-select='{"body":"members-table-body"}' />
                                </div>
                            </th>
                            <th class="sort align-middle" scope="col" data-sort="customer" style="width:15%; min-width:200px;">Người dùng</th>
                            <th class="sort align-middle" scope="col" data-sort="email" style="width:15%; min-width:200px;">Email</th>
                            <th class="sort align-middle pe-3" scope="col" data-sort="mobile_number" style="width:20%; min-width:200px;">Số điện thoại</th>
                            <th class="sort align-middle" scope="col" data-sort="last_active" style="width:21%;  min-width:200px;">Chuyên môn</th>
                            <th class="sort align-middle" scope="col" data-sort="city" style="width:10%;">Phân quyền</th>
                            <th class="sort align-middle pe-0" scope="col" data-sort="joined" style="width:18%;  min-width:200px;">Ngày tạo</th>
                            <th class="sort text-end pe-0 align-middle" scope="col" style="width:1%;  min-width:50px;"></th>
                        </tr>
                    </thead>
                    <tbody class="list" id="members-table-body">
                        @if (users.Count > 0)
                        {
                            foreach (var user in users)
                            {
                                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                    <td class="fs-9 align-middle ps-0 py-3">
                                        <div class="form-check mb-0 fs-8">
                                            <input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/32.webp","name":"Carry Anna"},"email":"annac34@gmail.com","mobile":"+912346578","city":"Budapest","lastActive":"34 min ago","joined":"Dec 12, 12:56 PM"}' />
                                        </div>
                                    </td>
                                    <td class="customer align-middle white-space-nowrap">
                                        <a class="d-flex align-items-center text-body text-hover-1000" href="/quan-ly-nguoi-dung/thong-tin-nguoi-dung/@user.UserId">
                                            <div class="avatar avatar-m"><img class="rounded-circle" src="~/assets/img/user/@user.AvatarUrl" alt="" /></div>
                                            <h6 class="mb-0 ms-3 fw-semibold">@user.Fullname</h6>
                                        </a>
                                    </td>
                                    <td class="email align-middle white-space-nowrap">
                                        <a class="fw-semibold" href="mailto:@user.Email">@user.Email</a>
                                    </td>
                                    <td class="mobile_number align-middle white-space-nowrap">
                                        <a class="fw-bold text-body-emphasis" href="tel:@user.Phone">@user.Phone</a>
                                    </td>
                                    <td class="city align-middle text-body">@user.SpecialtyField</td>
                                    <td class="last_active align-middle white-space-nowrap text-body-tertiary">@MessageConstant.RoleNames[user.Role.RoleName]</td>
                                    <td class="joined align-middle white-space-nowrap text-body-tertiary">@user.CreatedAt</td>
                                    <td class="align-middle white-space-nowrap text-end pe-0">
                                        <div class="position-relative">
                                            <div class="hover-actions">
                                                <button class="btn btn-sm btn-phoenix-secondary me-1 fs-10">
                                                    <span class="fas fa-check"></span>
                                                </button>
                                                <button class="btn btn-sm btn-phoenix-secondary fs-10">
                                                    <span class="fas fa-trash"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="btn-reveal-trigger position-static">
                                            <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                                            <div class="dropdown-menu dropdown-menu-end py-2">
                                                <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDealModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addDealModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-body-highlight p-6">
            <div class="modal-header justify-content-between border-0 p-0 mb-2">
                <h3 class="mb-0">Thông tin tài khoản mới</h3><button class="btn btn-sm btn-phoenix-secondary" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times text-danger"></span></button>
            </div>
            <div class="modal-body px-0">
                <div class="row g-3 mb-6">
                    <div class="col-12 col-lg-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row align-items-center g-3 g-sm-5 text-center text-sm-start">
                                    <div class="col-12 col-sm-auto">
                                        <input class="d-none" id="avatar-file" type="file" accept="image/*" />
                                        <label class="cursor-pointer avatar avatar-5xl" for="avatar-file">
                                            <img id="avatar-preview" class="rounded-circle" src="~/assets/img/system/default_logo.jpg" alt="" />
                                        </label>
                                    </div>
                                    <div class="col-12 col-sm-auto flex-1">
                                        <h3>Chọn ảnh đại diện</h3>
                                        <div class="col-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" id="check-default-avatar" type="checkbox" />
                                                <label class="form-check-label mb-0" for="check-default-avatar">Sử dụng ảnh mặc định</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2" for="fullname">Họ và tên</label>
                            <input class="form-control" type="text" id="fullname" placeholder="Nhập họ và tên" />
                        </div>
                        <div class="mb-4">
                            <div class="row g-3">
                                <div class="col-6">
                                    <label class="text-body-highlight fw-bold mb-2" for="phone">Số điện thoại</label>
                                    <input class="form-control" maxlength="10" type="text" id="phone" placeholder="Nhập số điện thoại" />
                                </div>
                                <div class="col-6">
                                    <label class="text-body-highlight fw-bold mb-2" for="email">Địa chỉ email</label>
                                    <input class="form-control" type="text" id="email" placeholder="Nhập địa chỉ email" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2">
                                Mật khẩu
                                <button class="btn btn-link p-0 ms-3">
                                    <span class="fa-solid fa-plus me-1"></span><span>Tạo tự động</span>
                                </button>
                            </label>
                            <input class="form-control" type="password" id="password" placeholder="Nhập mật khẩu" />
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2">Phân quyền</label>
                            <select class="form-select" onchange="selectedRole(this)" id="role">
                                <option value="0">Chưa chọn quyền</option>
                                <option value="2">Ban giám khảo</option>
                                <option value="3">Nhân viên</option>
                                <option value="4">Người dùng</option>
                            </select>
                        </div>
                        <div class="mb-4" style="display: none" id="specialty-field-box">
                            <label class="text-body-highlight fw-bold mb-2" for="specialty-field">Chuyên môn</label>
                            <input class="form-control" type="text" id="specialty-field" placeholder="Nhập chuyên môn" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 pt-6 px-0 pb-0">
                <button class="btn btn-link text-danger px-3 my-0" data-bs-dismiss="modal" aria-label="Close">Đóng</button>
                <button class="btn btn-primary my-0" type="button" onclick="signup(this)">Tạo tài khoản</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function selectedRole(select) {
            var specialtyFieldBox = document.getElementById("specialty-field-box");
            if (select.value == "2") {
                specialtyFieldBox.style.display = "block";
            } else {
                specialtyFieldBox.style.display = "none";
            }
        }

        async function signup(btnSignup) {

            showLoader();

            const fullnameEl = document.getElementById('fullname');
            const emailEl = document.getElementById('email');
            const phoneEl = document.getElementById('phone');
            const passwordEl = document.getElementById('password');
            const specialtyFieldEl = document.getElementById('specialty-field');
            const roleEl = document.getElementById('role');

            const role = roleEl.value;
            const fullname = fullnameEl.value.trim();
            const email = emailEl.value.trim();
            const phone = phoneEl.value.trim();
            const password = passwordEl.value.trim();
            const specialtyField = specialtyFieldEl.value.trim();
            let url = ''

            if (role == 0) {
                showErrorNotification("Vui lòng chọn phân quyền cho người dùng!");
                return
            }

            if (role == 2) {
                url = `/apis/v1/user/ex-signup`
            }

            if (role == 3) {
                //
            }

            if (role == 4) {
                url = `/apis/v1/user/us-signup`
            }

            const avatarUrl = await uploadAvatar();

            const postData = {
                fullname: fullname,
                email: email,
                phone: phone,
                password: password,
                specialtyField: specialtyField,
                avatarUrl: avatarUrl
            }

            const response = await postApi(url, postData);

            hideLoader();

            if (response.Success) {
                showSuccessRegisterNotification(response.Message);
            }

            if (!response.Success) {
                showErrorNotification(response.Message);
            }
        }

        async function uploadAvatar() {
            const avatarFile = document.getElementById('avatar-file').files[0];
            if (avatarFile) {
                var formData = new FormData();
                formData.append('file', avatarFile);

                const response = await postFileApi('/apis/v1/upload/upload-avatar', formData);

                return response.Data
            }

            return 'default_logo.jpg'
        }
    </script>

    <script>
        const fileInput = document.getElementById('avatar-file');
        const avatarPreview = document.getElementById('avatar-preview');
        const defaultCheckbox = document.getElementById('check-default-avatar');
        const defaultImagePath = '/assets/img/user/default_logo.jpg';

        fileInput.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    avatarPreview.src = e.target.result;
                };
                reader.readAsDataURL(file);

                defaultCheckbox.checked = false;
            }
        });

        defaultCheckbox.addEventListener('change', function () {
            if (this.checked) {
                avatarPreview.src = defaultImagePath;
                fileInput.value = '';
            }
        });
    </script>
}

