@using BIIC_Contest.Dtos
@using BIIC_Contest.Helpers
@{
    ViewBag.Title = "Hoạt động trên hệ thống";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var logGroups = ViewBag.logs as Dictionary<string, List<ActivityLogDto>>;
}

<div class="pb-5">
    <h3 class="mb-5">Hoạt động trên hệ thống</h3>
    @foreach (var logGroup in logGroups)
    {
        <h5 class="text-body-emphasis mb-3">@DateTimeHelper.getFormatFriendlyDate(logGroup.Key)</h5>
        for (int i = 0; i < logGroup.Value.Count; i++)
        {
            var log = logGroup.Value[i];

            <div class="mx-n4 notification-card mx-lg-n6 border-bottom @(i == logGroup.Value.Count - 1 ? "mb-4" : "") cursor-pointer">
                <div class="d-flex align-items-center justify-content-between py-3 px-lg-6 px-4 notification-card border-top @(log.IsRead ? "read" : "unread")">
                    <div class="d-flex">
                        <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="~/assets/img/user/avatar.webp" alt="" /></div>
                        <div class="me-3 flex-1 mt-2">
                            <h4 class="fs-9 text-body-emphasis">@log.Logger</h4>
                            <p class="fs-9 text-body-highlight"><span class='me-2' data-feather="bell"></span>@log.LogDescription<span class="ms-2 text-body-tertiary text-opacity-85 fw-bold fs-10">@DateTimeHelper.getFormatRelativeTime(log.CreatedAt)</span></p>
                            <p class="text-body-secondary fs-9 mb-0">
                                <span class="me-1 fas fa-clock"></span>
                                <span class="fw-bold">@log.CreatedAt</span>
                            </p>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                            <span class="fas fa-ellipsis-h fs-10 text-body"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end py-2">
                            <a class="dropdown-item" href="#!">Đánh dấu chưa đọc</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
