@using BIIC_Contest.Constants
@using BIIC_Contest.Dtos
@{
    UserDto currentUser = Session[SessionConstant.CURRENT_USER] as UserDto;
    SystemDto currentSystem = Session[SessionConstant.CURRENT_SYSTEM] as SystemDto;
}

@section styles{
    <style>
        @@media (max-width: 991.98px) {
            .navbar-nav-icons {
                display: flex !important;
            }
        }
    </style>
}

<div class="bg-body-emphasis sticky-top border-bottom" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
    <nav class="navbar navbar-expand-lg container-small px-3 px-lg-7 px-xxl-3">
        <a class="navbar-brand flex-1 flex-lg-grow-0" href="@RouteConstant.HOME_PAGE">
            <div class="d-flex align-items-center">
                <img class="d-dark-none" src="~/assets/img/system/@(currentSystem.LogoUrl)" alt="biic_logo" width="60" />
                <h5 class="logo-text ms-2">@currentSystem.ShortTitle</h5>
            </div>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="border-bottom border-translucent border-bottom-lg-0 mb-2">
                <div class="search-box d-inline d-lg-none">
                    <form class="position-relative">
                        <input class="form-control search-input search rounded-pill my-4" type="search" placeholder="Search" aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item border-bottom border-translucent border-bottom-lg-0">
                    <a class="nav-link lh-1 py-0 fs-9 fw-bold py-3" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item border-bottom border-translucent border-bottom-lg-0">
                    <a class="nav-link lh-1 py-0 fs-9 fw-bold py-3" href="@RouteConstant.CONTACT_PAGE">Thể lệ</a>
                </li>
                <li class="nav-item border-bottom border-translucent border-bottom-lg-0">
                    <a class="nav-link lh-1 py-0 fs-9 fw-bold py-3" href="@RouteConstant.NEWS_PAGE ">Tin tức</a>
                </li>
                <li class="nav-item border-bottom border-translucent border-bottom-lg-0">
                    <a class="nav-link lh-1 py-0 fs-9 fw-bold py-3" href="@RouteConstant.CONTACT_PAGE">Liên hệ</a>
                </li>
            </ul>
            <div class="d-grid d-lg-flex align-items-center">
                <a class="btn btn-phoenix-primary border-1 me-lg-2 d-none d-lg-block" href="@RouteConstant.REGISTER_CONTEST_PAGE"><span class="fw-bold text-uppercase">Đăng ký tham gia</span></a>
            </div>
        </div>
    </nav>
</div>